.navbar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 3px 3px 13px var(--dark-color);
    border-radius: 0 2rem 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5em;
    font-weight: bold;
}

.title {
    padding: 2.5rem 0 2.5rem 4rem;
    color: white;
}

.two {
    padding: .5rem 0 .5rem 4rem;
    color: var(--dark-color);
    transition: 450ms all;
}

.two:hover{
    background-color: var(--secondary-color);
    color: var(--font-nav);
    box-shadow: 0 2px 4px var(--dark-color),
    0 -2px 4px var(--dark-color);
}

.two:active{
    background-color: var(--secondary-color);
    color: var(--font-nav);
}
.two:current{
    background-color: var(--secondary-color);
}

@media screen and (max-width: 830px) {

}